.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 450px;
  margin: 0 auto;
  margin-top: 1%;
  cursor: pointer;
}

.cell {
  border: 2px solid black;
  border-radius: 5px;
  height: 90px;
  width: 90px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .board {
    max-width: 310px;
    max-height: 320px;
    margin-top: 8%;
  }

  .cell {
    font-size: 35px;
    height: 65px;
    width: 65px;
    margin: 10px;
  }
}
